body {
    padding-top:20px
}
#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}

#custom_carousel .controls li {
  height: 213px;
  margin: 0 7px;
  width: 263px;
  cursor: pointer;
}
#custom_carousel .controls li.active img {
  background: rgba(0, 0, 0, 0.50);
  height: 213px;
  margin-top:;
  position: absolute;
  width: 100%
}
#custom_carousel .controls a img {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}

.img-slider-esp{
    max-width:200px;
}